body {
    margin: 0;
    padding: 0;
	min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0000000;
	font-weight: 400;
    background-color: #ffffff;
}

a {
	text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.horiz-line {
	width: 1160px;
	height: 2px;
	margin: 0 auto;
	background-color: #eeeeee;
}
.button {
	display: block;
	padding: 13px 0;
		font: inherit;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
}
.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* ---  Header   --- */
.main-header {
	background-color: #eeeeee;
}
a.main-header-logo {
    background: url("img/nerds-logo.svg");
    display: block;
    width: 160px;
    height: 65px;
	margin-left: 20px;
}
a.main-header-logo:hover {
    	opacity: 0.8;
}
a.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation,
.shop-cart,
.services-list,
.list-item,
.refer,
.grid-radio,
.feature-list,
.sorting-list,
.sorting-icon,
.gallery-list,
.social,
.shop-list {
	list-style: none;
}
.main-header {
	min-height: 132px;
}
.main-navigation {
	display: flex;
	align-items: space-between;
}
.logo-block {
	width: 180px;

}
.main-navigation-wrapper {
	display: flex;
	align-items: space-between;

}

.site-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 700px;
	min-height: 83px;
	margin: 0;
	padding: 0;
}
.shop-cart  {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 50px;
}
.shop-cart::before {
	content: "";
	position: absolute;
	top: 36px;
	width: 16px;
	height: 18px;
	margin-left: -24px;
    background-image: url(" ../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.shop-cart a {
	display: block;
 	padding: 27px 24px; 
	color: #000000; 
	font-size: 16px;
    font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}
.site-navigation a {
	display: block;
	padding: 21px 24px;
	vertical-align: middle;
	color: #000000; 
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}
.site-navigation  a:hover, .shop-cart  a:hover {
	color: #fb565a;
}
.site-navigation  a:active, .shop-cart  a:active {
	color: #c7c5c5;
}
/* Текущая ссылка
.site-navigation,
.shop-cart a{
	color: #000000;
	border-bottom: 2px solid #fb565a;
}
*/


/*-- Слайдер --  */
.container-slider {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.slider {
	position: relative;
    background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
    display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
    border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
    position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
    width: 18px;
	height: 18px;
    background: #ffffff;
	border-radius: 50%;
}

.slider-controls .active::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
  
	width: 4px;
	height: 4px;
	margin: -4px;
  	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
    list-style: none;
}

.slider-item {
	display: none;
	padding: 20px 0 40px 0;
}
/*
.slider-item:nth-child(1) {
	display: block;
}*/
.slider-item:nth-child(1) {
	background-image: url("../img/nerds-slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/nerds-slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/nerds-slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 27px;
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	/*margin-bottom: 38px;*/
}
a.slider-item-button {
	width: 240px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #fb565a;
}
/*-- Услуги --  */
.services-list h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
a.service-web {
	width: 160px;
	/*height: 50px;*/
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #fb565a;
}
a.service-web:hover {
	background-color: #e74246;
}
a.service-web:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.service-application {
	width: 160px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #00ca74;
}
a.service-application:hover {
	background-color: #00bc6c;
}
a.service-application:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}
.service-presentation {
	width: 160px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #efc84a;
}
a.service-presentation:hover {
	background-color: #eab534;
}
a.service-presentation:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

/*-- Реклама  --  */
.container-advertising {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.advertising-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}
.advertising-list {
	font-weight: 700;
	text-transform: uppercase;
}
.advertising-info {
	width: 400px;
}
.advertising-table th {
	font-size: 45px;
	line-height: 65px;
}
.advertising-table td {
	font-size: 16px;
	line-height: 18px;
}
/*-- Партнеры  --  */
a.refer-img {
	opacity: 0.2;
}
a.refer-img:hover  {
	opacity: 1.0;
}
a.refer-img:active {
	opacity: 0.1;
}
/*-- Окно Напишите нам--  */
.contacts-card {
	width: 270px;
	height: 260px;
	padding-top: 50px;
	padding-left: 50px;
	background-color: #ffffff;
}
.contacts-card h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
.contacts-card p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}
a.feedback {
	width: 220px;
	background-color: #fb565a;
}
a.feedback:hover {
	background-color: #e74246;
}
a.feedback:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
/*-- Форма Напишите нам --  */
.label-style {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.input-style {
	width: 360px;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border: 2px solid #d7dcde;
}
.input-style:hover {
	border: 2px solid #b4b9bb;
}
.input-style:focus {
	border: 2px solid #000000;
}
.contacts {
	width: 260px;
	height: 50px;
	background-color: #fb565a;
}

/*-- Footer --  */
.footer-label1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
/*-- Каталог Форма --  */
.shop-banner h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	background-color: #eeeeee;
}
.column-left h3,
.gallery-title h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05px;
}
.form-button {
	width: 260px;
/*	height: 50px; */
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #eeeeee;
}
.form-button:hover {
	background-color: #dfdfdf;
}
.form-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
a.sort-item {
	opacity: 0.3;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}
a.sort-item:hover {
	opacity: 0.6;
}
a.sort-item:active {
	opacity: 1.0;
}


/*-- Галерея магазина --  */
.gallery-title h3 {
	margin-left: 0px;
}
/*-- Форма Особенности --  */
.feature-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
		.feature-list li {
			padding-bottom: 40px;
		}
		.slider-checkbox {
			position: relative;
			margin:0;
			padding-left: 32px;
		}
.slider-checkbox:hover,
	.slider-checkbox:focus	{
		opacity: 0.6;	
	}
	.slider-checkbox input[type="checkbox"] + .checkbox-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 27px;
		height: 27px;
		background-image: url("../img/checkbox-off.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
		opacity: 1.0;
	}
	.slider-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
		background-image: url("../img/checkbox-on.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
		opacity: 1.0;
	}
		
ul.gallery-list {
	padding: 0;
}
.hidden-info {
	width: 360px;
	height: 231px;
	text-align: center;
	background-color: #eeeeee;
}
a.gallery-title {
	display: inline-block;
	padding-top: 32px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}
.gallery-note {
	color: #666666;
}
a.gallery-button {
	width: 200px;
	/*height: 50px;*/
	margin: 0 auto;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #fb565a;
}
a.gallery-button:hover {
	background-color: #e74246;
}
a.gallery-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.shop-browser {
	margin-bottom: -10px;
}
img.passive {
	margin-bottom: -10px;
	opacity: 0.12;
}
.shop-list li{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	background-color: #eeeeee;
	border: 3px solid #dbdbdb;
}
.shop-list li:last-child{
	width: 260px;
}
a.page-passive {
	color: #000000;
}
a.page-passive:hover {
	background-color: #dfdfdf;
}
a.page-passive:active{
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
.new {   
	text-transform: uppercase;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1440px;
  min-height: 1750px;
}
/*
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
*/
.main-navigation {
	width: 1200px;
	margin: 0 auto;
	padding-top: 49px; 
	/* Временно для сетки */
	min-height: 83px;
}

.slider {
	min-height: 412px;
}
.slider-wrapper {
	display: flex;
	width: 1220px;
	margin: 0 auto;
}
.slider-title {
	padding-top: 81px;
}
.slider-info {
	padding-bottom: 42px;
}
/*
.slider-image {
	width: 760px;
	background-image: url("../img/nerds-slide1.png");
	
}*/
.slider-container {
	width: 380px;
}

.services {
	width: 1440px;
	margin: 0 auto;
}
.services-container {
	width: 1160px;
	padding-top: 81px;
	padding-left: 100px; 
	min-height: 430px;
}
.services-list {
	display: flex;
	justify-content: space-between;
	width: 1100px;
}
.services-item {
	width: 300px;

}

.advertising {
	min-height: 530px;
	width: 1220px;
	margin: 0 auto;
}
.container-advertising {
	display: flex;
	justify-content: space-between;
	min-height: 530px;
}
.advertising-title,
.advertising-info {
	padding: 0;
	margin: 0;
}

.list-item li::before {
	content: "";
	width: 25px;
	height: 1px;
	background-color: #ff0000;
}
.advertising-studio {
	width: 708px;
	margin-top: 75px;
}
.advertising-info {
	margin-bottom: 40px;
}
.list-item li{
	padding: 0;
	padding-bottom: 20px;
}
.advertising-info {
	padding-top: 40px;
}
.img-nerds {
	margin-bottom: 20px;
}
.advertising-list {
	text-align: center;
	margin-bottom: 
}
.advertising-table {
	width: 360px;
}
/* Партнеры */
.references {
	width: 1220px;
	min-height: 183px;
	margin: 0 auto;
	margin-bottom: 81px;
}
.container-references {

}
.refer {
	display: flex;
	justify-content: space-between;
	min-height: 183px;
	padding: 0;
	margin: 0 auto;
}
/* Карта */
.block-map {
	position: relative;
	width: 1440px;
	margin: 0 auto;
}
.dialog {
	position: absolute;
	top: 52px;
	left: 140px;
}
.map-marker {
	position: absolute;
	top: 90px;
	left: 820px;
}
/* Подвал */
.main-footer {
	display: flex;
	justify-content: space-between;
	width: 1220px;
	margin: 0 auto;
/*	margin-top: 81px; */
	min-height: 217px;

}
.footer-social {
	display: -webkit-flex; 
	-webkit-justify-content: flex-start;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 380px;
	min-height: 216px;

}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 78px;
	margin-right: 20px;
	border-radius: 39px;
	background-color: #e1e1e1;
	
}
a.social-button:hover {
	background-color: #e74246;
}
a.social-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
	
}

.footer-label p{
	margin: 0;
}
.footer-label {
	width: 780px;
	min-height: 216px;
}
p.footer-label1 {
	margin-top: 76px;
}
p.footer-label2 {
	margin-top: 16px;
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
/*  Магазин  */

/*  отключили мод. и форму  */
.modalDialog {
	display: none;
}
.container-form {
	display: none;
}
.shop-banner h1{
	padding: 0;
	margin: 0;
	text-align: center;
	padding-bottom: 110px;
}
.shop-wrapper {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}
.column-left {
	width: 400px;
}
.controls-range {
	position: relative;
	width: 260px;
	height: 79px;
	margin-top: 56px;
	margin-bottom: 14px;
	background-color: #f1f1f1;
}
.controls-range .scale {
	position: absolute;
	top: 38px;
	left: 40px;
	width: 198px;
	height: 2px;

	background: #cacbcb;
}
.controls-range .bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 121px;
	height: 2px;
	
	background: #00ca74;
}
.range-toggle {
	position: absolute;
	top: 30px;
	left: 17px;
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle-min {
  left: 21px;
}

.range-toggle-max {
  left: 160px;
}
.controls-range label {
	display: inline-block;
	
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}
.price-controls {

}
.price-controls .min-price,
.price-controls .max-price {
	display: inline-block;
	width: 147px;

}
.price-controls input {
	width: 80px;
	height: 38px;
	margin: 0;
	color: inherit;
	font: inherit;
	text-align: center;
	background-color: #f1f1f1;
	border: none;
	border-radius: 3px;
}


.shop-gallery {
	width: 800px;
}
.gallery-list {
	display: flex;
	flex-wrap: wrap;
}
.gallery-item {
	width: 360px;
	margin-right: 20px;
}
.shop-list{
	display: flex;
	flex-wrap: wrap;
	
}
.shop-list li{
	margin-right: 10px;
}
.gallery-title {
	display: flex;
	flex-wrap: wrap;
	margin-right: 20px;
}
.sorting-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 240px;
	padding-top: 5px;
	width: 320px;
}
.sorting-icon {

}
/*
.modalDialog {
	position: absolute;
	top: 75px;
	left:140px;
	z-index: 99999;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	width: 320px;
	pointer-events: auto;
}
.modalDialog > div {
	position: relative;
	background-color: #ffffff;
	padding: 51px;
}
*/

