body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0000000;
	font-weight: 400;
    background-color: #ffffff;
}
.services-list h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.horiz-line {
	width: 1160px;
	height: 2px;
	margin: 0 auto;
	background-color: #eeeeee;
}
.button {
  display: block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
/* ---  Header   --- */
.main-header {
	background-color: #eeeeee;
}
a.main-header-logo {
    background: url("img/nerds-logo.svg");
    display: block;
    width: 160px;
    height: 65px;
}
a.main-header-logo:hover {
    	opacity: 0.8;
}
a.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation,
.services-list,
.list-item,
.refer,
.grid-radio,
.feature-list,
.sorting-list,
.sorting-icon,
.gallery-list,
.social,
.shop-list {
	list-style: none;
}

.shop-cart a {
	color: #000000; 
	font-size: 16px;
    font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}
.site-navigation a {
	color: #000000; 
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}
.site-navigation  a:hover, .shop-cart  a:hover {
	color: #fb565a;
}
.site-navigation  a:active, .shop-cart  a:active {
	color: #c7c5c5;
}
/* Текущая ссылка
.site-navigation,
.shop-cart a{
	color: #000000;
	border-bottom: 2px solid #fb565a;
}
*/


/*-- Слайдер --  */

.slider {
	background-color: #eeeeee;
}
.slider-title {
	font-size: 55px;
    line-height: 55px;
	font-weight: 500;
	background-color: #eeeeee;
}
.slider-container {

}
a.slider-button {
	width: 240px;
	height: 50px;
	background-color: #fb565a;
}
a.slider-button:hover {
	background-color: #e74246;
}
a.slider-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
/*-- Услуги --  */
a.service-web {
	width: 160px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #fb565a;
}
a.service-web:hover {
	background-color: #e74246;
}
a.service-web:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.service-application {
	width: 160px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #00ca74;
}
a.service-application:hover {
	background-color: #00bc6c;
}
a.service-application:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}
.service-presentation {
	width: 160px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #efc84a;
}
a.service-presentation:hover {
	background-color: #eab534;
}
a.service-presentation:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

/*-- Реклама  --  */
.advertising-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}
.advertising-list {
	font-weight: 700;
	text-transform: uppercase;
}
/*-- Партнеры  --  */
a.refer-img {
	opacity: 0.2;
}
a.refer-img:hover  {
	opacity: 1.0;
}
a.refer-img:active {
	opacity: 0.1;
}

/*-- Форма Напишите нам --  */
.label-style {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.input-style {
	width: 360px;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border: 2px solid #d7dcde;
}
.input-style:hover {
	border: 2px solid #b4b9bb;
}
.input-style:focus {
	border: 2px solid #000000;
}
.contacts {
	width: 260px;
	height: 50px;
	background-color: #fb565a;
}

/*-- Footer --  */
.footer-label1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
/*-- Каталог Форма --  */
.shop-banner h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	background-color: #eeeeee;
}
.column-left h3,
.gallery-title h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05px;
}
.form-button {
	width: 260px;
	height: 50px;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #eeeeee;
}
.form-button:hover {
	background-color: #dfdfdf;
}
.form-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
a.sort-item {
	opacity: 0.3;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}
a.sort-item:hover {
	opacity: 0.6;
}
a.sort-item:active {
	opacity: 1.0;
}
/*-- Галерея магазина --  */
.hidden-info {
	width: 360px;
	height: 231px;
	text-align: center;
	background-color: #eeeeee;
}
a.gallery-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}
.gallery-note {
	color: #666666;
}
a.gallery-button {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #fb565a;
}
a.gallery-button:hover {
	background-color: #e74246;
}
a.gallery-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.shop-list li{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	background-color: #eeeeee;
	border: 3px solid #dbdbdb;
}
.shop-list li:last-child{
	width: 260px;
}
a.page-passive {
	color: #000000;
}
a.page-passive:hover {
	background-color: #dfdfdf;
}
a.page-passive:active{
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
.new {   
	text-transform: uppercase;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}